*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(./Images/bo.PNG);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.flex-box-container{
    width: 100%;
    /* background:linear-gradient(to cover,black,red); */
}
.flex1{
width: 70%;
height: 500px;
background:black;
border-radius: 10px;
margin-left: 17%;
/* margin-right: 20%; */
margin-top: 5%;
opacity: 0.5;
}
.flex1 h3{
    color: white;
    text-align: center;
    font-family: monospace;
    padding-top: 20px;
}
.flex1 input{
    margin-left: 10%;
}
input {
    width: 200px;
    height: 20px;
    border-radius: 5px;
    padding: 15px;
    margin: 4px;
}
.box1 input{
    margin-left: 15%;
    
}
button{
    width: 100px;
    height: 30px;
    background: linear-gradient(to left,orangered,black);
    color: white;
    margin-left: 50%;
    border-radius: 10px;
}
